html, body {
	margin: 0;
	padding: 0;
}

.text-spacing{
	letter-spacing: 0.8em;
}

.poiret-font{
	font-family: 'Poiret One', cursive;
	color: white;
}

h2.poiret-font {
	color:black;
}

.hero {
	height:100vh;
	width:100vw;
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://secure.static.tumblr.com/b168c185e9e42a276ee5402accba7767/lwugoq8/7Upn2fyy8/tumblr_static_indoors-bottles-bar-drinks-pub-new-hd-wallpaper.jpg');
	background-size: cover;
	overflow: hidden;
}

.v-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.transparent {
	background: transparent;
}

.gray {
	border: gray !important;
	color: gray !important;
}

/* Custon Buttons CSS to override Bootstrap*/
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-color: white;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none !important;
    background: transparent !important;
    border-color: white;
}

.btn-primary:hover {
    font-weight: bold !important;
    background: transparent !important;
    border-color: white !important;
}

.btn-primary.outline {
    border: 2px solid white;
    color: white;
}
/* End Button CSS */

/* NavBar CSS */
.navbar a {
	color:white;
}

.navbar-brand:hover {
	font-weight: bold;
	color: white;
}

.navbar-toggle .icon-bar {
	font-size: 1.5em;
	color:white;
	background: white;
}
/* End NavBar CSS */

/* Parallax Effect */
.parallax {
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.parallax__layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.parallax__layer--base {
	transform: translateZ(0);
}

.parallax__layer--back {
	transform: translateZ(-1px);
}

/* End Parallax */

#hero-tag {
	display: block;
}

#hero-phrase {
	font-size: 50px;
	font-weight: lighter;
}

#night-text {
	font-size: 55px;
	font-weight: bolder;
}

#map-inputs {
	position: absolute;
	left: 66%;
}

#map {
	position: relative;
	height: 100%;
	width: 100%;
}

#about-section {
	height: 40%;
	background: rgb(221,221,221);
}
/* ListView CSS */
#list {
	position: absolute;
	height: 50%;
	width: 25%;
	overflow-y: auto;
	font-size: 1.5em;
}

#list li {
	list-style-type: none;
	background:rgba(255,255,255,0.8);
	padding: 40px 0;
	margin: 10px 10px auto;
	text-align: center;
	border-style: solid;
	border-width: 0.2em;
	border-color: black;
}

.venue-name:hover{
	font-weight: bold;
}

#menu-toggle {
	background: rgba(255,255,255,0.8) !important;
	border-width: 0.2em;
	border-style: solid !important;
	border-color: black !important;
}
/* ListView CSS END */

/* Crawl Route CSS */
#route-display {
	position: relative;
	height: 100%;
	text-align: center;
	overflow-y: auto;
}

#route-display li {
	text-align: center;
	padding: 0;
	list-style-type: upper-alpha;
}
/* Google Maps Directions Panel */
#panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
}

/**
 * Provide the following styles for both ID and class, where ID represents an
 * actual existing "panel" with JS bound to its name, and the class is just
 * non-map content that may already have a different ID with JS bound to its
 * name.
 */

#panel, .panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
}

#panel select, #panel input, .panel select, .panel input {
  font-size: 15px;
}

#panel select, .panel select {
  width: 100%;
}

#panel i, .panel i {
  font-size: 12px;
}
#directions-panel {
	height: 100%;
	float: right;
	width: 100%;
	overflow: auto;
}
/* END PANEL CSS */

/* CrawlList SideBar CSS */
/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #999999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* overrides container-fluid padding*/
#map-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
	#map {
		position: relative;
		height: 100vh;
		width: 100vw;
	}
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: -250px;
    }
}