html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#wrapper {
	position:relative;
	float: right;
	width: 80%;
}

#map {
	position: relative;
	height: 100%;
	width:100%;
}
/* ListView CSS */
#list {
	position: absolute;
	height: 50%;
	width: 25%;
	overflow-y: auto;
	font-size: 1.5em;
}

#list li {
	list-style-type: none;
	background:rgba(255,255,255,0.8);
	padding: 40px 0;
	margin: 10px 10px auto;
	text-align: center;
	border-style: solid;
	border-width: 0.2em;
	border-color: black;
}

.venue-name:hover{
	font-weight: bold;
}
/* ListView CSS END */

/* Crawl Route CSS */
#route-display {
	position: absolute;
	float: left;
	width: 20%;
	height: 100%;
	text-align: center;
	overflow-y: auto;
}

#route-display li {
	text-align: center;
	padding: 0;
	list-style-type: upper-alpha;
}
/* Directions Panel */
#panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
}

/**
 * Provide the following styles for both ID and class, where ID represents an
 * actual existing "panel" with JS bound to its name, and the class is just
 * non-map content that may already have a different ID with JS bound to its
 * name.
 */

#panel, .panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#panel select, #panel input, .panel select, .panel input {
  font-size: 15px;
}

#panel select, .panel select {
  width: 100%;
}

#panel i, .panel i {
  font-size: 12px;
}
#directions-panel {
	height: 100%;
	float: right;
	width: 100%;
	overflow: auto;
}